/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-naverGreen:#03cf5d;
  --color-dark-pink: #121111;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-blue: #73aace;
  --color-yellow: #f1d64e;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-blue:  #3565c9;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radious: 4px;

  /* Annimations */
  --annimation-duration: 300ms;
}

/* Universal tags */

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  width: 1130px;
  height: 3300px;
  cursor: default;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

em {
  font-style: normal;
  font-weight: 700;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

cite {
  font-style: none;
}

.blind {
  display: none;
}

.title {
  font-size: 14px;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

/* h3 {
  /* font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0; */ */


/* p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
} */

/* Header */

.Naver__header {
  width: 1130px;
  height: 160px;
  display: flex;
}

header {
  width: 1130px;
  height: 160px;
  display: flex;
}

.header_align {
  display: flex;
  margin: auto;
}

.header_logo {
	margin-right: 15px;
	max-width: 150px;    
	margin-top: 20px;
}

.search_box {
	width: 520px;
	height: 50px;
	border: 2px solid var(--color-naverGreen);
	display: flex;
	margin-top: 20px;
}

.search_box input {
	width: 90%;
	height: 46px;
	padding-left: 12px;
	padding-right: 12px;
	border: none;
	outline: none;
	font-size: 18px;
	
}

.search_box button {
	width: 10%;
	height: 48px;
	margin: 0;
	padding: 0;
	border: none;
	background: var(--color-naverGreen);
}

.search_box i {
	color: var(--color-white);
	font-size: 22px;
	text-align: center;
}

#keyboard {
	color: var(--color-dark-white);
	font-size: 20px;
	text-align: center;
	width: 10%;
	padding-top:12px;
}

.link_set {
  font-size: 3px;
  display: flex;
  margin: 0%;
  position: relative;
  height: 100%;
}

.link__element {
  margin: 0%;
  margin-top: 10px;
}

/* navbar */

.navBar__group {
  border: 2px solid #e9e9e9;
  border-left: none;
  border-right: none;
  padding: 11px 0px;
  height: 51px;
  position: relative;
  padding-right: 270px;
  margin: 0;
}

.navBar__group__flex {
  display: flex;
  justify-content: space-between;
}

.navBar__gruop__item {
  display: inline-block;
  color: var(--color-naverGreen);
  font-size: 15px;
  font-weight: 700;
}

.navBar__gruop__item a {
  color: var(--color-black);
}

.navBar__gruop__item-weather {
  display: block;
  position: absolute;
  bottom: 0.1px;
  left: 890px;
}

/* Main */
#main {
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* Section Left */

.section__left {
  display: flex;
  flex-direction: column;
}

/* Banner */

.section__left__ad {
  margin-bottom: 7px;
}

.section__left__ad img {
  border: 1px solid #dae1e6;
}

/* News Banner */

.section__left__news {
  display: flex;
  justify-content: space-between;
  background-color: #f7f9fa;
  padding: 12px 15px 11px;
  border: 1px solid #dae1e6;
  font-size: 13px;
  color: var(--color-black);
  font-weight: 700;
  width: 750px;
}

.news__left__list {
  display: flex;
}

.newsLeft__list__item {
  padding-right: 12px;
  margin-right: 7px;
}

.newsLeft__list__item__content {
  color: var(--color-light-grey);
  font-weight: 10;
}

.news__right__list {
  display: flex;
}

.newsRight__list__item {
  margin: 0px 4px 7px;
}

.newsRight__list__item__home {
  color: var(--color-blue);
}

/* New Title */

.section__left__newsTitle {
  display: flex;
  justify-content: space-between;
  padding: 22px 0px 16px;
  font-size: 14px;
  color: var(--color-black);
  font-weight: 700;
}

.newsTitle__left__list {
  display: flex;
  align-items: baseline;
}

.newTitle__item__margin {
  margin-left: 6px;
}

.newTitle__item__font {
  font-weight: 10;
}

.newTitle__right__icon {
  display: flex;
}

.newTitle__right__icon i {
  padding: 0px 9px;
}

.newTitle__right__icon__item:hover {
  color: var(--color-blue);
  cursor: pointer;
}

/* newsTable */

.section__left__newsTable__relative {
  position: relative;
}

.section__left__newsTable {
  border: 0.2px solid rgb(228, 226, 226);
  border-collapse: collapse;
  border-spacing: 0;
  width: 750px;
}

.newsTable__row th {
  border: 0.2px solid rgb(228, 226, 226);
  padding: 22px 0px;
  width: 124.5px;
}

.newsTable__row img {
  height: 20px;
}

.newsTable__ico__btn {
  width: 44px;
  height: 44px;
  padding-top: 5px;
  background-color: var(--color-white);
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--color-light-grey);  
  border-bottom:1.2px solid var(--color-light-grey);
  position: absolute;
  top: 43%;
  right: -13px;
}

/* Media */

/* Media Title */

.media__container {
  padding: 35px 0px 27px;
}

.media__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;
  align-items: center;
}

.media__title__right,
.media__title__left__writing,
.media__title__right__writing {
  font-size: 12px;
  color: var(--color-light-grey);
}

.media__title__right strong {
  font-weight: 700;
  color: var(--color-black);
}

/* Media List */

.media__subject {
  position: relative;
}

.media__subject__table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row__item {
  width: 94px;
  height: 49px;
  border: 0.2px solid rgb(228, 226, 226);
  font-weight: 700;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
}

.row__item-click {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.mediaSubject__ico__btn-left {
  display: block;
  width: 44px;
  height: 44px;
  padding-top: 5px;
  background-color: var(--color-white);
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--color-light-grey);  
  border-bottom:1.2px solid var(--color-light-grey);
  position: absolute;
  top: 2%;
  left: -22px;
}

.mediaSubject__ico__btn-right {
  display: block;
  width: 44px;
  height: 44px;
  padding-top: 5px;
  background-color: var(--color-white);
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--color-light-grey);  
  border-bottom:1.2px solid var(--color-light-grey);
  position: absolute;
  right: -16px;
  top: 2%;
}

/* Media Top Story */

.media__topStory {
  display: flex;
  width: 750px;
  height: 300px;
  padding: 18px 0px;
}

.media__topStory__left,
.media__topStory__right {
  display: flex;
  flex-direction: column;
}

.media__topStory__right {
  margin-left: 22px;
}

.topStory__left__video,
.topStory__right__video {
  position: relative;
}

.topStory__left__info,
.topStory__right__info {
  padding: 16px 18px 0px 0px;
  font-size: 12px;
  max-height: 44px;
}

.left__info__title,
.right__info__title {
  display: block;
  color: blue;
  margin-bottom: 3px;
}

.left__info__sentence,
.right__info__sentence {
  margin-bottom: 3px;
  font-weight: 700;
}

.left__info__source,
.right__info__source {
  color: var(--color-light-grey);
}

.left__video__btn,
.right__video__btn {
  position: absolute;
  top: 70%;
  left: 15px;
  font-size: 30px;
  color: var(--color-light-white);
}

.left__video__img:hover,
.right__video__img:hover {
  overflow: hidden;
  transform: scale(1.05);
  transition: var(--annimation-duration);
}

/* Media theme Link */

.mediaTheme__link__list {
  display: flex;
  justify-content: space-around;
  padding: 11px 120px 11px 18px;
  border: 1px solid #dae1e6;
  background-color: #f7f9fa;
  color: var(--color-black);
  font-weight: 700;
  font-size: 13px;
}

.mediaTheme__link__list__item {
  padding: 5px 0px 4px;
}

.mediaTheme__link__list__item--home {
  color: var(--color-blue);
}

.mediaTheme__link__list__item--bar {
  color: var(--color-light-grey);
  font-weight: 10;
}

/* Media View */

.mediaView__top,
.mediaView__bottom {
  border-bottom: 0.2px solid #dae1e6;
}

.mediaView__bottom {
  position: relative;
  padding-bottom: 20px;
}

.mediaView__top__first,
.mediaView__top__second,
.mediaView__top__third {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.mediaView__top1 {
padding: 18px 0px 17px 0px;
}

.mediaView__info {
  padding-top: 12px;
  max-width: 222px;
  max-height: 44px;
  font-size: 12px;
  font-weight: 700;
}

.mediaView__info__title {
  color: var(--color-blue);
  margin-bottom: 2px;
}

.mediaView__info__sentence {
  display: block;
  margin-bottom: 4px;
}

.mediaView__info__cite {
  color: var(--color-light-grey);
  font-weight: 100;
}

.mediaView__top1__img {
  position: relative;
}

.mediaView__img__btn {
  position: absolute;
  top: 70%;
  left: 15px;
  font-size: 22px;
  color: var(--color-light-white);
}

.mediaView__footer {
  cursor: pointer;
}

.mediaView__footer__btn {
  display: block;
  width: 44px;
  height: 44px;
  padding-top: 5px;
  background-color: var(--color-white);
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--color-light-grey);  
  border-bottom:1.2px solid var(--color-light-grey);
  position: absolute;
  right: 47%;
}

.mediaView__footer p {
  position: absolute;
  right: 44%;
  bottom: -50px;
  font-size: 12px;
}

/* --------------- */


/* Section Right */

.section__right {
  width: 350px;
  display: flex;
  flex-direction: column;
}

/* Login */

.section__right__login {
  padding: 16px 16px 12px 17px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
}

.login__msg {
  font-size: 12px;
  color: var(--color-grey);
  margin-bottom: 11px;
  margin-top: 0;
  padding-left: 3px;
}

.login__link {
  display: block;
  padding: 15px 0px;
  margin-bottom: 11px;
  background-color: var(--color-naverGreen);
  border: 1px solid #15c654;
  border-radius: 2px;
  color: var(--color-white);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.login__link p {
  display: inline;
  color: var(--color-white);
}

.login__sub {
  display: flex;
  justify-content: space-between;
  margin: 0px 8px 0px 4px;
  color: #505050;  
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

.login__sub__idPassword a {
  text-align: left;
}

/* On Time Data */

.onTimeData {
  display: flex;
  padding: 15px 0px 14px 16px;
  border: 1px solid #dae1e6;
  background-color: var(--color-white);
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  margin: 11px 0px;
}

.onTimeData:hover {
  cursor: pointer;
}

.onTimeData__title {
  border: 1px solid var(--color-black);
  border-radius: 40px;
  padding: 1px 7px;
}

.onTimeData__content {
  margin-right: 32px;
}

.onTimeData__content:hover {
  text-decoration: underline;
}


.onTimeData__btn {
  display: flex;
  margin-right: 11px;
}

.onTimeData__btn__left,
.onTimeData__btn__right {
  border: 1px solid #e4e8eb;
  padding: 0px;
  width: 23px;
  height: 23px;
  font-weight: 500;
}

/* Right Ad image */

.rightAd {
  margin-bottom: 12px;
}

/* Shop Header */

.shopHeader {
  display: flex;
  padding: 12px 0px 13px;
  font-size: 13px;
  font-weight: 700;
  justify-content: space-between;
}

.shopHeader__title,
.shopHeader__list__tap {
  display: flex;
}

.shopHeader__title__item {
  margin-right: 4px;
}

.shopHeader__list__tap__item {
  margin-left: 15px;
}

/* Shop Content */

.shop__content {
  border: 1px solid #e4e8eb;
}

/* Shopping mall list */

.shopGroup__header {
  padding: 12px 4px 11px 10px;
  background-color: #f7f9fa;
  border-bottom: 1px solid #dae1e6;
}

.shop__group {
  padding: 4px 0px;
  font-size: 12px;
  color: var(--color-light-grey);
}

.shop__group__list {
  display: flex;
  justify-content: space-around;
}

.shop__group__list__item--highlight {
  color: var(--color-black);
  font-weight: 700;
}

/* Shop Goods */

.shopGoods {
  padding: 35px 5px 20px;
  font-size: 12px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #dae1e6;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 18px;
}

.goods__list__item {
  margin-top: 10px;
}

.goods__list__item__head {
  font-weight: 700;
}

.shopBtn {
  display: flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 5px;
}

.shopBtn__btn,
.shopBtn__num {
  display: flex;
}

.shopBtn__btn__left,
.shopBtn__btn__right,
.shopPage__btn__left,
.shopPage__btn__right {
  border: 1px solid #e4e8eb;
  padding: 0px;
  width: 23px;
  height: 23px;
  font-weight: 500;
}

.shopPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopPage__num {
  display: flex;
  margin: 0px 15px;
}

/* Shop Event */

.group__event {
  margin: 0px 8px;
  padding: 19px 0px 17px;
  border-bottom: 1px solid #dae1e6;
}

.group__event__title {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}

.event__header {
  font-size: 12px;
  font-weight: 500;
}

.group__event__control {
  display: flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
}

.group__event__num,
.group__event__btn {
  display: flex;
  
}

.groupEvent__btn__left,
.groupEvent__btn__right {
  border: 1px solid #e4e8eb;
  padding: 0px;
  width: 26px;
  height: 26px;
  font-weight: 500;
}

.group__event__list {
  margin: 13px 5px 0px;
}

.group__event__list__item {
  font-size: 12px;
  height: 28px;
}

.group__event__list__item  em {
  margin-right: 8px;
}

.group__event__list__item::before {
  background-color: #1ace61;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  vertical-align: top;
  content: '';
  margin-right: 8px;
  vertical-align: 2px;
}

/* 쇼핑 카테고리 */

.shopCategory {
  margin: 0px 8px;
  padding: 0px 0px 17px;
  font-size: 13px;
  text-align: center;
  border-bottom: 1px solid #dae1e6;
}

.shopCategory__header,
.shopCategory__header__list,
.shopCategory__header__control,
.shopCategory__header__num,
.shopCategory__header__btn,
.shopCategory__content {
  display: flex;
  align-items: center;
}

.shopCategory__header {
  justify-content: space-between;
  padding: 17px 0px;
}

.shopCategory__header__list {
  justify-content: space-around;
}

.shopCategory__header__list__item--click {
  font-weight: 700;
  color: var(--color-naverGreen);
  text-decoration: underline;
}

.shopCategory__header__title {
  width: 191px;
  height: 19px;
}

.shopCategory__header__num p {
  margin-right: 6px;
}

.shopCategory__header__btn__left,
.shopCategory__header__btn__right {
  border: 1px solid #e4e8eb;
  padding: 0px;
  width: 26px;
  height: 26px;
  font-weight: 500;
}

.shopCategory__content__left img,
.shopCategory__content__right img {
  margin-bottom: 7px;
}

.shopCategory__content__left__sentence {
  font-size: 13px;
  font-weight: 700;
}

/* 원쁠딜 */

.plusDeal {
  margin: 0px 8px;
  padding: 16px 0px 0px;
  font-size: 13px;
}

.plusDeal__header,
.plusDeal__header__title,
.plusDeal__header__control,
.plusDeal__header__num,
.plusDeal__header__btn {
  display: flex;
  align-items: center;
}

.plusDeal__header {
  justify-content: space-between;
  margin-bottom: 16px;
}

.plusDeal__header__title img {
  margin-right: 8px;
}

.plusDeal__header__num {
  margin-right: 7px;
}

.plusDeal__header__btn__left,
.plusDeal__header__btn__right {
  border: 1px solid #e4e8eb;
  padding: 0px;
  width: 26px;
  height: 26px;
  font-weight: 500;
}

.plusDeal__content {
  display: flex;
  margin-bottom: 14px;
}

.plusDeal__content__imgs {
  display: flex;
  width: 155px;
  justify-content: space-between;
  margin-right: 10px;
  position: relative;
  object-fit: fill;
}

.plusDeal__content__leftImg img,
.plusDeal__content__rightImg img {
  border-radius: 4px;
  border: 1px solid #e4e8eb;
}

.plusDeal__content__imgs__1plus1 {
  width: 30px;
  height: 15px;
  color: var(--color-white);
  border-radius: 4px;
  background: linear-gradient( 90deg, #e66465, red );
  position: absolute;
  background-color: red;
  top: 0px;
  text-align: center;
  line-height: 14px;
  font-size: 7px;
  font-weight: 500;
}

.plusDeal__content__imgs__icon {
  width: 20px;
  height: 20px;
  padding-top: 2px;
  background-color: var(--color-white);
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  color: var(--color-light-grey);  
  border-bottom:1.2px solid var(--color-light-grey);
  position: absolute;
  left: 51%;
  top: 30%;
}

.plusDeal__content__imgs img {
  border-radius: 6px;
}

.plusDeal__content__sentence {
  width: 170px;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  justify-content: space-around;
}

.plusDeal__content__sentence__price strong {
  color: red;
}

/* Footer */

#footer {
  background-color: #fafbfc;
  border-top: 1px solid #e4e8eb;
  font-size: 12px;
}

/* Footer Area Ad */

.footerArea__ad {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #e4e8eb;
}

.footerArea__ad__content {
  display: flex;
  align-items: center;
}

.footerArea__ad__sentence {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 86px;
  padding: 2px 2px 0 16px;
  text-align: left;
}

.footerArea__ad__sentence em {
  margin-bottom: 6px;
  color: var(--color-naverGreen);
}

.footerArea__ad__sentence strong {
  margin-bottom: 8px;
}

/* Footer Area Notice */

.footerArea__notice {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 15px;
  border-bottom: 1px solid #e4e8eb;
  font-weight: 700;
  color: var(--color-black);
}

/* Footer Area Partner */

.footerPartner {
  display: flex;
  border-bottom: 1px solid #e4e8eb;
}

.footerArea__partner {
  width: 780px;
  padding: 20px 0;
}

.footerArea__partner__box {
  display: flex;
  margin-bottom: 9px;
  align-items: flex-end;
}

.footerArea__partner__title {
  width: 87px;
}

.footerArea__partner__sentence {
  color: #777;
}

.footerArea__partner__sentence+
.footerArea__partner__sentence::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: #e4e8eb;
  margin: 0 8px;
}

.footerArea__serviceBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
}

.footerArea__serviceBox__content {
  display: flex;
}

.footerArea__serviceBox__content__info {
  margin-right: 15px;
}

/* Footer Company */

.footerCompany {
  display: flex;
  padding-top: 25px;
}

.footerCompany__desList {
  display: flex;
  margin-right: 13px;
  color: #777;
}

.footerCompany__desList__item+
.footerCompany__desList__item::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 8px;
  background-color: #e4e8eb;
}

.addr {
  font-style: normal;
  font-weight: 700;
}
