/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-naverGreen:#03cf5d;
  --color-dark-pink: #121111;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-blue: #73aace;
  --color-yellow: #f1d64e;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-blue:  #3565c9;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radious: 4px;

  /* Annimations */
  --annimation-duration: 300ms;
}

/* Universal tags */

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  width: 1130px;
  height: 160px;
  cursor: default;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.blind {
  display: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

/* p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
} */

/* Header */

header {
  width: 1130px;
  height: 160px;
  display: flex;
}

.header_align {
  display: flex;
  margin: auto;
}

.header_logo {
	margin-right: 15px;
	max-width: 150px;    
	margin-top: 20px;
}

.search_box {
	width: 520px;
	height: 50px;
	border: 2px solid var(--color-naverGreen);
	display: flex;
	margin-top: 20px;
}

.search_box input {
	width: 90%;
	height: 46px;
	padding-left: 12px;
	padding-right: 12px;
	border: none;
	outline: none;
	font-size: 18px;
	
}

.search_box button {
	width: 10%;
	height: 48px;
	margin: 0;
	padding: 0;
	border: none;
	background: var(--color-naverGreen);
}

.search_box i {
	color: var(--color-white);
	font-size: 22px;
	text-align: center;
}

#keyboard {
	color: var(--color-dark-white);
	font-size: 20px;
	text-align: center;
	width: 10%;
	padding-top:12px;
}

.link_set {
  font-size: 3px;
  display: flex;
  margin: 0%;
  position: relative;
  height: 100%;
}

.link__element {
  margin: 0%;
  margin-top: 10px;
}

/* navbar */

.navBar__group {
  border: 2px solid #e9e9e9;
  border-left: none;
  border-right: none;
  padding: 11px 0px;
  height: 51px;
  position: relative;
  padding-right: 270px;
  margin: 0;
}

.navBar__group__flex {
  display: flex;
  justify-content: space-between;
}

.navBar__gruop__item {
  display: inline-block;
  color: var(--color-naverGreen);
  font-size: 15px;
  font-weight: 700;
}

.navBar__gruop__item a {
  color: var(--color-black);
}

.navBar__gruop__item-weather {
  display: block;
  position: absolute;
  bottom: 0.1px;
  left: 890px;
}

/* Main */
#main {
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: flex-start;
}

/* Section Left */

/* Banner */

.section__left {
  display: flex;
  flex-direction: column;
}

.section__left__ad img {
  border: 1px solid #dae1e6;
}

/* News Banner */

.section__left__news {
  display: flex;
  justify-content: space-between;
  background-color: #f7f9fa;
  padding: 12px 15px 11px;
  border: 1px solid #dae1e6;
  font-size: 13px;
  color: var(--color-black);
  font-weight: 700;
}

.news__left__list {
  display: flex;
}

.newsLeft__list__item {
  padding-right: 12px;
  margin-right: 7px;
}

.newsLeft__list__item__content {
  color: var(--color-light-grey);
  font-weight: 10;
}

.news__right__list {
  display: flex;
}

.newsRight__list__item {
  margin: 0px 4px 7px;
}

.newsRight__list__item__home {
  color: var(--color-blue);
}

/* New Title */

.section__left__newsTitle {
  display: flex;
  justify-content: space-between;
  padding: 22px 0px 16px;
  font-size: 14px;
  color: var(--color-black);
  font-weight: 700;
}

.newsTitle__left__list {
  display: flex;
  align-items: baseline;
}

.newTitle__item__margin {
  margin-left: 6px;
}

.newTitle__item__font {
  font-weight: 10;
}

.newTitle__right__icon {
  display: flex;
}

.newTitle__right__icon i {
  padding: 0px 9px;
}

.newTitle__right__icon__item:hover {
  color: var(--color-blue);
  cursor: pointer;
}

/* newsTable */

.section__left__newsTable__relative {
  position: relative;
}

.section__left__newsTable {
  border: 0.2px solid rgb(228, 226, 226);
  border-collapse: collapse;
  border-spacing: 0;
  width: 750px;
}

.newsTable__row th {
  border: 0.2px solid rgb(228, 226, 226);
  padding: 22px 0px;
  width: 124.5px;
}

.newsTable__row img {
  height: 20px;
}

.newsTable__ico__btn {
  width: 44px;
  height: 44px;
  padding-top: 5px;
  background-color: var(--color-white);
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--color-light-grey);  
  border-bottom:1.2px solid var(--color-light-grey);
  position: absolute;
  top: 43%;
  right: -13px;
}

/* Section Right */

.section__right {
  width: 350px;
  display: flex;
  flex-direction: column;
}

/* Login */

.section__right__login {
  padding: 16px 16px 12px 17px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  margin: 0;
}

.login__msg {
  font-size: 12px;
  color: var(--color-grey);
  margin-bottom: 11px;
  margin-top: 0;
  padding-left: 3px;
}

.login__link {
  display: block;
  padding: 15px 0px;
  margin-bottom: 11px;
  background-color: var(--color-naverGreen);
  border: 1px solid #15c654;
  border-radius: 2px;
  color: var(--color-white);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.login__link p {
  display: inline;
  color: var(--color-white);
}

.login__sub {
  display: flex;
  justify-content: space-between;
  margin: 0px 8px 0px 4px;
  color: #505050;  
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

.login__sub__idPassword a {
  text-align: left;
}





